<a class="btn btn-primary pull-right" href="#/games/new"><span class="glyphicon glyphicon-plus"></span>  Create a new Game</a>


<table class="table table-striped" >
	<thead>
		<tr>
			<th>Game Id</th><th>Date</th><th>Team One</th><th>Team Two<th>Result</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="game in games">
			<td>{{game.id}}</td>
			<td>{{game.date | date: 'dd.MM.yyyy'}}</td>
			<td>{{game.teams[0].teamname}}</td>
			<td>{{game.teams[1].teamname}}</td>
			<td>3:2</td>
		<!-- 
			TODO hier noch details zeigen
			<td>
				beide buttons links ausgerichtet btn-info color hellblue, btn-danger color red
				<div class="pull-right">
					<a class="btn btn-info" href="#/teams/{{team.id}}"><span class="glyphicon glyphicon-edit"></span> Show Details</a>
				</div>
			</td> -->
		</tr>
	</tbody>
</table>