<div class="col-sm-12 text-left">
<form ng-submit="save()">
	<div class="row">
		<!-- col-xs-6 = half of the size (xs for mobile versions) -->
		<div class="col-xs-6">
			<p>
				<h3>Create a new Game</h3>
			</p>
			<label for="date">Date</label>
			<input class="form-control" placeholder="Enter Date" type="text" ng-model="game.date" id="date" required/>
			<span class="help-block"></span>
		</div>
	</div>
	<div class="row" >
		<div class="col-xs-6">	
			<label for="teamOne">Select Team One</label>
			<select class="form-control" ng-options="team.teamname for team in teams" ng-model="game.teams[0]">
		 		<option value="" selected>-- No Team --</option>
		 	</select>
			
			<span class="help-block"></span>
		</div>
		<div class="col-xs-6">
			<label for="teamTwo">Select Team Two</label>
			<select class="form-control" ng-options="team.teamname for team in teams" ng-model="game.teams[1]">
				<option value="" selected>-- No Team --</option></select>

			<span class="help-block"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">	
			<!-- swap between save and update -->
			<button ng-show="showSave" id="save" class="btn btn-primary">Save</button>
			<button ng-hide="showSave" id="update" class="btn btn-primary">Update</button>
		</div>
	</div>		
	
</form> 
</div>