<!-- col-sm-12 the whole container size -->
<div class="col-sm-12 text-left">

<div id="collapseTextInner" class="collapse in">
	<p>
	<h3>Welcome</h3>
	<p>Hello and welcome to the BTP system. Lets try and start a new match! Good luck and have fun. Any suggestions? Feel free to contact me.
	</p>
	<hr> <!-- hr equals horizontal line -->
<p>
 </div>
 <!--<button class="btn btn-primary" ng-click="$location.path('#/current_game/new')" data-toggle="collapse" data-target="#collapseTextInner, #collapseGameFormular"><span class="glyphicon glyphicon-plus"></span>  Create a new Game</button>
-->
  <a class="btn btn-primary" href="#/games/new"><span class="glyphicon glyphicon-plus"></span>  Create a new Game</a>
 </p>



</div>