<form ng-submit="save()">
	<div class="row">
		<!-- col-xs-6 = half of the size (xs for mobile versions) -->
		<div class="col-xs-6">
			<label for="teamname">Team Name</label>
			<input class="form-control" placeholder="Enter Team Name" type="text" ng-model="team.teamname" id="teamname" required/> <!-- the required value does not allow null values in field -->
			<!-- span here to create a space between the text label and button -->
			<span class="help-block"></span>
			
			<!-- swap between save and update -->
			<button ng-show="showSave" id="save" class="btn btn-primary">Save</button>
			<button ng-hide="showSave" id="update" class="btn btn-primary">Update</button>
			
		</div>
	</div>
</form> 